{% load humanize %}

{% for event in events %}
<article class="event">
  <a target="_blank" class="image" href="{{ event.link }}">
    <div class="image-inner" style="background-image: url({{ event.image_url }})">
    </div>
  </a>
  <div class="meta">
    <h3><a target="_blank" href="{{ event.link }}">{{ event.title }}</a></h3>
    <p class="desc">{{ event.description|linebreaksbr }}</p>
    <p class="date">
      <time datetime="{{ event.starts_at.isoformat }}">
        {{ event.ends_at|naturaltime }}
      </time>
    </p>
  </div>
</article>
{% endfor %}
