{% load compress staticfiles %}<!doctype html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M8856G6');</script>
    <!-- End Google Tag Manager -->

    <title>AirMozilla</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">
    {% compress css %}
      <link href="{% static 'css/airmozilla.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8856G6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      <img id="logo" src="{% static 'image/logo.svg' %}" alt="AirMozilla" />
      <nav>
        <form>
          <a class="search" href="#">
            <svg width="20px" height="22px" viewBox="0 0 20 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path d="M21.7,20.3 L17.2,15.8 C18.3,14.4 19,12.5 19,10.5 C19,5.8 15.2,2 10.5,2 C5.8,2 2,5.8 2,10.5 C2,15.2 5.8,19 10.5,19 C12.5,19 14.3,18.3 15.8,17.2 L20.3,21.7 C20.5,21.9 20.8,22 21,22 C21.2,22 21.5,21.9 21.7,21.7 C22.1,21.3 22.1,20.7 21.7,20.3 Z M4,10.5 C4,6.9 6.9,4 10.5,4 C14.1,4 17,6.9 17,10.5 C17,12.3 16.3,13.9 15.1,15.1 C15.1,15.1 15.1,15.1 15.1,15.1 C15.1,15.1 15.1,15.1 15.1,15.1 C13.9,16.3 12.3,17 10.5,17 C6.9,17 4,14.1 4,10.5 Z" id="path-search"></path>
                </defs>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-2, -1)">
                        <use id="icon-search-fill" fill="#959595" fill-rule="nonzero" xlink:href="#path-search"></use>
                    </g>
                </g>
            </svg>
          </a>
        </form>
        <a class="login" href="https://onlinexperiences.com/scripts/Server.nxp?LASCmd=L:0&AI=1&InitialDisplay=1&ClientBrowser=0&ShowKey=44908">
          Log In
          <svg width="18px" height="20px" viewBox="0 0 18 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                  <path d="M21,19 L21,21 C21,21.6 20.6,22 20,22 C19.4,22 19,21.6 19,21 L19,19 C19,17.3 17.7,16 16,16 L8,16 C6.3,16 5,17.3 5,19 L5,21 C5,21.6 4.6,22 4,22 C3.4,22 3,21.6 3,21 L3,19 C3,16.2 5.2,14 8,14 L16,14 C18.8,14 21,16.2 21,19 Z M7,7 C7,4.2 9.2,2 12,2 C14.8,2 17,4.2 17,7 C17,9.8 14.8,12 12,12 C9.2,12 7,9.8 7,7 Z M9,7 C9,8.7 10.3,10 12,10 C13.7,10 15,8.7 15,7 C15,5.3 13.7,4 12,4 C10.3,4 9,5.3 9,7 Z" id="path-user"></path>
              </defs>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-3, -2)">
                      <use id="icon-user-fill" fill="#959595" fill-rule="nonzero" xlink:href="#path-user"></use>
                  </g>
              </g>
          </svg>
        </a>
      </nav>
    </header>
    <main>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer>
      <div>
        <div class="copyright">
          <img src="{% static 'image/logo.svg' %}" alt="AirMozilla" />
          <p>Except where otherwise noted, content on this site is licensed under the Creative Commons Attribution Share-Alike License v3.0 or any later version.</p>
        </div>

        <nav>
          <a href="https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org">Contributors</a>
          <a href="https://www.mozilla.org/en-US/contact/">Contact Us</a>
          <a href="https://www.mozilla.org/en-US/about/legal/report-infringement/">Report Trademark Abuse</a>
          <a href="https://github.com/mozilla/bedrock/tree/master/bedrock/mozorg/templates/mozorg/home/home.html">Code on Github</a>
          <a href="https://www.mozilla.org/en-US/privacy/">Privacy Policy</a>
          <a href="https://bugzilla.mozilla.org/">Report a bug</a>
          <a href="https://www.mozilla.org/en-US/about/legal/">Legal Notices</a>
        </nav>

        <hr />

        <div class="social">
          <a href="https://www.facebook.com/mozilla/">
            <img src="{% static 'image/facebook.svg' %}" alt="Facebook" />
            Facebook Live Events
          </a>
          <a href="https://twitter.com/mozilla">
            <img src="{% static 'image/twitter.svg' %}" alt="twitter" />
            Follow us on Twitter
          </a>
          <a href="https://www.youtube.com/channel/UCltqjpqVd-IowlC-iLp91eg/videos">
            <img src="{% static 'image/youtube.svg' %}" alt="Youtube" />
            Follow us on Youtube
          </a>
        </div>
      </div>
    </footer>
    {% compress js %}
      <script src="{% static 'js/simplebar.js' %}"></script>
      <script src="{% static 'js/promise-polyfill.js' %}"></script>
      <script src="{% static 'js/fetch.js' %}"></script>
      <script src="{% static 'js/airmozilla.js' %}"></script>
    {% endcompress %}
  </body>
</html>
