{% extends "base.html" %}
{% load staticfiles humanize %}

{% block content %}
<section class="upcoming">

  <h1>Upcoming Section</h1>

  <div class="feature">
    <article>
      {% with event=upcoming_events|first %}
      <a class="image" href="{{ event.link }}">
        <div class="image-inner" style="background-image: url({{ event.image_url }})">
          {% if event.is_streaming_now %}
            <span class="flag">
              <img src="{% static 'image/record.svg' %}" alt="Live" />
              STREAMING NOW
            </span>
          {% endif %}
          <span class="play">
            <img src="{% static 'image/play.svg' %}" alt="Play" />
          </span>
        </div>
      </a>
      <div class="meta">
        <h3>{{ event.title }}</h3>
        <p class="date">
          <time datetime="{{ event.starts_at.isoformat }}">
            {{ event.starts_at|naturaltime }}
          </time>
        </p>
      </div>
      {% endwith %}
    </article>
  </div>

  <div class="list" data-simplebar>

    {% for event in upcoming_events|slice:"1:" %}
    <article>
      <a class="image" href="{{ event.link }}">
        <div class="image-inner" style="background-image: url({{ event.image_url }})">
          <span class="play">
            <img src="{% static 'image/play.svg' %}" alt="Play" />
          </span>
        </div>
      </a>
      <div class="meta">
        <h3>{{ event.title }}</h3>
        <p class="desc">{{ event.description|linebreaksbr }}</p>
        <p class="date">
          <time datetime="{{ event.starts_at.isoformat }}">
            {{ event.starts_at|naturaltime }}
          </time>
        </p>
      </div>
    </article>
    {% endfor %}

  </div>

</section>

<hr />

<section class="recent">
  <h2>Recent Events</h2>
  {% for event in past_events %}
  <article>
    <a class="image" href="{{ event.link }}">
      <div class="image-inner" style="background-image: url({{ event.image_url }})">
      </div>
    </a>
    <div class="meta">
      <h3>{{ event.title }}</h3>
      <p class="desc">{{ event.description|linebreaksbr }}</p>
      <p class="date">
        <time datetime="{{ event.starts_at.isoformat }}">
          {{ event.ends_at|naturaltime }}
        </time>
      </p>
    </div>
  </article>
  {% endfor %}
</section>

<a href="#" class="past-events">Past Events</a>
{% endblock %}
