{% extends "base.html" %}
{% load staticfiles airmozilla_tags %}

{% block content %}
<section class="upcoming">

  <h1>Upcoming Section</h1>

  <div class="feature">
    <article>
      {% with event=upcoming_events|first %}
      <a target="_blank" class="image" href="{{ event.link }}">
        <div class="image-inner" style="background-image: url({{ event.image_url }})">
          {% if event.is_streaming_now %}
            <span class="flag">
              <img src="{% static 'image/record.svg' %}" alt="Live" />
              STREAMING NOW
            </span>
          {% endif %}
          <span class="play">
            <img src="{% static 'image/play.svg' %}" alt="Play" />
          </span>
        </div>
      </a>
      <div class="meta">
        <h3><a target="_blank" href="{{ event.link }}">{{ event.title }}</a></h3>
        <p class="date">
          {{ event.starts_at|relativedate }}
        </p>
      </div>
      {% endwith %}
    </article>
  </div>

  <div class="list" data-simplebar>

    {% for event in upcoming_events|slice:"1:" %}
    <article>
      <a target="_blank" class="image" href="{{ event.link }}">
        <div class="image-inner" style="background-image: url({{ event.image_url }})">
          <span class="play">
            <img src="{% static 'image/play.svg' %}" alt="Play" />
          </span>
        </div>
      </a>
      <div class="meta">
        <h3><a target="_blank" href="{{ event.link }}">{{ event.title }}</a></h3>
        <p class="desc">{{ event.description|linebreaksbr }}</p>
        <p class="date">
          {{ event.starts_at|relativedate }}
        </p>
      </div>
    </article>
    {% endfor %}

  </div>

</section>

<hr />

<section class="recent" id="recent-container">
  <h1>Recent Events</h1>
  {% include "_event_list.html" with events=past_events %}
</section>

<a href class="past-events" id="load-more-events">Past Events</a>
{% endblock %}
